input[type="button"]{    
    width: 100px;    
    height: 35px; 
    color: black;
    border: 15px;
    padding: 2px;
    border-radius: 5px;
    


}
input[type="text"]{
    width: 400px;    
    height: 55px; 
    border: 15px;
    padding: 2px;
    border-radius: 5px;
    

}

body{
    background-color: aquamarine;
    padding: 2px;
    border: 5px;
    border-radius: 4px;

}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: blue;

}